#<laconf>
  compiler
  {
    base-class-name="Serbench.WebViewer.Master"
    namespace="Serbench.WebViewer"
    abstract="false"
    summary="Different serializers' performance comparison"

    using{ns="NFX.Web"}
    using{ns="NFX.Wave"}
    using{ns="NFX.Wave.Templatization"}
  }
#</laconf>
#[class]

#[override renderHeader()]

#[override renderBody()]

<link rel="stylesheet" type="text/css" href="styles/table.css">
<link rel="stylesheet" type="text/css" href="styles/overview-charts.css">


<div class="main-container">
    <div class="report-header">
        <h1>Overview Charts</h1>
    </div>
    <div class="report-list-container">
        <div><a href="overview-table.htm" target="_blank">Overview Table</a></div>
        <div><a href="serializers-info.htm" target="_blank">Serializers Info</a></div>
    </div>
    <div>
        <table id="performance-table" class="main-table">
            <col>
            <col width="370">
            <col width="370">
            <thead>
            <tr>
                <th class="corner-cell"></th>
                <th class="main-table-column-header">
                    <div>Speed (ops/sec)</div></th>
                <th class="main-table-column-header">
                    <div>Payload (bytes)</div></th>
            </tr>
            </thead>
        </table>
    </div>
</div>





<script>

    // globals
    var barMaxWidth = '300px';

    $(function() {

        var data = WAVE.arrayWalkable(window.data_TestRunData);
        var aborted = WAVE.arrayWalkable(window.data_Aborted);

        var table = $('#performance-table')[0];
        createTableBody(data, table);

        var container = $("#aborted-table")[0];
        table = createAbortedTable(aborted);
        container.appendChild(table);

        createAbortedTable(data);
    });

    function createTableBody(data, table) {

        var tbody = document.createElement('tbody');
        table.appendChild(tbody);

        // distinct serializers
        var headersInfo = data.wSelect(function (e) { return { serializerType: e.SerializerType, serializerName: e.SerializerName }; })
                              .wDistinct(function (a, b) { return a.serializerType == b.serializerType && a.serializerName == b.serializerName; });

        // distinct tests
        data.wSelect(function(e) { return { testType: e.TestType, testName: e.TestName }; })
            .wDistinct(function(a, b) { return a.testType == b.testType && a.testName == b.testName; })
            .wEach(function(r) {

                var serializersData = headersInfo.wSelect(function (h) {
                            return { header: h, data: getCellData(data, r, h) };
                            });
                var testMetadata = getDataSummary(serializersData, true);

                // create header, speed and payload comparison cells
                var tr = createRowHeader(r, serializersData);
                createPerformanceComparisonCell(
                    tr,
                    serializersData,
                    testMetadata.speedMin,
                    testMetadata.speedMax,
                    false,
                    function (a, b) { return sortBySpeedPredicate(a, b, true); },
                    function (d) { return d.data.speed; },
                    function (v) { return shortenQuantity(v); });
                createPerformanceComparisonCell(
                    tr,
                    serializersData,
                    testMetadata.payloadMin,
                    testMetadata.payloadMax,
                    true,
                    function (a, b) { return sortByPayloadPredicate(a, b, true); },
                    function (d) { return d.data.PayloadSize; },
                    function (v) { return shortenByteSize(v); });
                
                tbody.appendChild(tr);
            });
    };

    function createRowHeader(r, serializersData) {
         
        var tr = document.createElement('tr');
        tr.className = 'main-table-row';
        tr.onmouseover = function () { highlightRow(tr) };
        tr.onmouseout = function () { unhighlightRow(tr) };
        var th = document.createElement('th');
        th.className = 'main-table-row-header';
        th.innerHTML = createTestSummary(r.testType, r.testName, serializersData, true);
        tr.appendChild(th);

        return tr;
    };

    function createPerformanceComparisonCell(tr, dataList, min, max, revertPalette, comparator, valueGetter, valueFormatter) {
          
        var td = document.createElement('td');
        td.className = 'stat-container';
        tr.appendChild(td);

        dataList.wOrder(function (a, b) { return comparator(a, b);})
                .wEach(function (d) {
            
                    var div = document.createElement('div');
                    div.className = 'performance-bar-container';
                    
                    var bar = document.createElement('div');
                    
                    var label = document.createElement('div');
                    label.className = 'performance-label';
                    var header = document.createElement('div');
                    header.innerHTML = d.header.serializerName;
                    header.className = 'label-header';
                    label.appendChild(header);
                    var value = document.createElement('div');
                    value.className = 'label-value';
                    label.appendChild(value);
                    
                    if(d.data == null) {
                        bar.innerHTML = "<div class='absent-serializer-test'></div>";
                        value.innerHTML = '-';
                    }
                    else if (!isTestClear(d.data)) {
                        bar.innerHTML = "<div class='error-serializer-test'></div>";
                        value.innerHTML = '-';
                    }
                    else {
                        var val = valueGetter(d);
                        var leveragedMax = leverageNumber(max);
                        var barWidth = val * parseFloat(barMaxWidth) / leveragedMax;
                        var barColor = getColor(min, max, val, revertPalette);
                        var barTemplate = "<div class='performance-bar' style='width:@barWidth@px; background-color:@barColor@'></div>";
                        bar.innerHTML = WAVE.strHTMLTemplate(barTemplate, { barWidth: barWidth, barColor: barColor });
                        value.innerHTML = valueFormatter(val);
                    }
                    
                    div.appendChild(bar);
                    div.appendChild(label);
                    td.appendChild(div);
        });
    };

</script>
