rect.wvSvgBkgr {
    fill: #f9f6f6;
}

line.wvAxisLine {
    stroke: #000000;
    stroke-width: 1;
}

line.wvAxisTickLine {
    stroke: #000000;
}

line.wvGridLine {
    stroke: #cccccc;
    stroke-width: 1;
    stroke-dasharray: 2,2;
}
/*wvGridXLine { stroke: #000000; stroke-width: 1; }*/

rect.wvXZoneBackground {
    fill: #e6e9e9;
}

text.wvAxisLabel {
    fill: #000000;
    font-family: verdana, sans-serif;
    font-size: 10px;
    text-anchor: start;
}
/*text.wvXAxisLabel { fill: #000000; font-size: 10px; }*/

rect.wvYZoneBackground {
    fill: #e9e6e6;
}

rect.wvSZoneBackground {
    fill: #ffffff;
}

path.wvSeriesLine {
    stroke: #ff8080;
    fill: none;
    stroke-width: 7px;
    stroke-linejoin: round;
}

path.wvSeriesLineArea {
    stroke: #ff8080;
    fill: rgba(255, 150, 60, 0.44);
}

path.wvSeriesLine-1 {
    stroke: #80ff80;
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: bevel;
}

path.wvSeriesLineArea-1 {
    stroke: #80ff80;
    fill: rgba(115, 245, 115, 0.44);
}

path.wvSeriesLine-2 {
    stroke: #8080ff;
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: bevel;
}

path.wvSeriesLineArea-2 {
    stroke: #8080ff;
    fill: rgba(25, 61, 235, 0.47);
}

rect.wvSeriesRect {
    fill: #aaaa00;
}

rect.series-rect-1 {
    fill: #0000aa;
}

rect.series-rect-2 {
    fill: #00aa00;
}

.wvSeriesPoint {
    fill: #000000;
}

.series-point-0 {
    fill: #ff8080;
}

.series-point-1 {
    fill: #80ff80;
}

.series-point-2 {
    fill: #8080ff;
}


.wvChartPointTitle rect {
    fill: rgba(255, 200, 200, 0.75);
    stroke: rgba(0, 0, 0, 0.5);
}

.wvChartPointTitle text {
    fill: #9090ff;
    font-family: Verdana;
    font-size: 14px;
}

.wvChartPointTitle line {
    stroke: #808090;
    marker-start: url(#markerLegStart);
    marker-end: url(#markerLegEnd);
}

.wvChartPointTitle-1 rect {
    fill: rgba(200, 255, 200, 0.75);
    stroke: rgba(0, 0, 0, 0.5);
}

.wvChartPointTitle-1 text {
    fill: #9090ff;
    font-family: Verdana;
    font-size: 14px;
}

.wvChartPointTitle-1 line {
    stroke: #808090;
    marker-start: url(#markerLegStart);
    marker-end: url(#markerLegEnd);
}

.wvChartPointTitle-2 rect {
    fill: rgba(200, 200, 255, 0.75);
    stroke: rgba(0, 0, 0, 0.5);
}

.wvChartPointTitle-2 text {
    fill: #9090ff;
    font-family: Verdana;
    font-size: 14px;
}

.wvChartPointTitle-2 line {
    stroke: #808090;
    marker-start: url(#markerLegStart);
    marker-end: url(#markerLegEnd);
}


rect.wvLZoneBackground {
    fill: #ffffff;
    stroke: #000000;
}

text.wvLegendName {
    fill: #000000;
    font-family: verdana, sans-serif;
    font-size: 9px;
}


div.chart {
    float: left;
    width: 60%;
    background-color: #bbbbee;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
}

svg {
    border: none;
    margin: 0;
    padding: 0;
}

input[type=number] {
    width: 55px;
}

#lZone {
    width: 200px;
    clear: both;
}

    #lZone input {
        width: 100%;
        clear: both;
    }

.field {
    margin: 3px;
}

div.manage {
    float: right;
    background-color: #eeeeee;
    width: 40%;
}

    div.manage fieldset {
        display: table;
    }

    div.manage p {
        display: table-row;
    }

    div.manage label {
        display: table-cell;
        width: 150px;
    }

    div.manage input {
        display: table-cell;
    }

.wvToast {
    background-color: rgba(115, 245, 115, 0.44);
    border: 1px solid black;
    position: absolute;
}

.wvRulerHint {
    background-color: rgba(238, 238, 204, .8);
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 2px;
    pointer-events: none;
    z-index: 10000;
}

.wvRulerSight {
    border-left: 1px dashed #444444;
    border-top: 1px dashed #444444;
    pointer-events: none;
    z-index: 9999;
}
