.main-table {
    border-collapse: collapse;
    font-family: verdana;
    font-size: 6pt;
}

.main-table td, .main-table th {
    border: 1px dotted #a0a0a0;
}

.main-table-row-header, .main-table-column-header {
    background-color: #e4e4e0;
    position: relative;
    padding: 3px;
}

.inner-table td, .inner-table th {
    border: 0;
}

.supported {
    background: #A3D119;
}

.unsupported {
    background: #FF704D;
}

.overview-table-cell :hover {
    background: lightsteelblue;
}

.absent-test {
    background-color: lightgray;
}

.corner-cell {
    border: 0 !important;
}

.worst-speed {
    color: #f0f0f0;
    font-size: 18px;
    text-shadow: 1px 1px 4px black;
}

.hidden {
    display: none;
}

.empty {
}

.left {
    float:left;
}

.color-mark {
    height: 10px;
    width: 10px;
}
