.performance-label {
    position: relative;
    left: 0;
    font-size: 10px;
}

.performance-bar, .absent-serializer-test, .error-serializer-test {
    border-right: 1px solid rgba(10,10,10,0.3);
    margin-top: -3px;
}

.label-header {
    display: inline-block;
}

.label-value {
    display: inline-block;
    float: right;
}

.absent-serializer-test, .error-serializer-test {
    width: 10px; 
}

.performance-bar, .absent-serializer-test, .error-serializer-test {
    position: absolute;
    height:15px; 
}

.absent-serializer-test { 
    background-color: lightgray;
} 

.error-serializer-test {
    background-color: gray;
}

.performance-bar-container {
    margin: 3px 0 0 0;
}

.stat-container {
    padding: 5px;
}

