.main-table {
    border-collapse: collapse;
    font-family: verdana;
    font-size: 6pt;
}

.main-table td, .main-table th {
    border: 1px dotted #a0a0a0;
    font-weight: normal;
}

.main-table-row-header, .main-table-column-header {
    background-color: #e4e4e0;
    position: relative;
    padding: 3px;
    font-size: 10px;
}

.inner-table td, .inner-table th {
    border: 0;
}

.test-header-table {
    table-layout: fixed;
    width:300px
}

.supported {
    background: #CFFCBF;
}

.unsupported {
    background: #FDCCCC;
}

.main-table-row :hover {
    background-color: #ffffe0;
    border: 1px solid #808080;
}

.row-header {
    text-align: left;
}

.absent-test {
    background-color: lightgray;
}

.corner-cell {
    border: 0 !important;
}

.stat-result {
    color: #f0f0f0;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

.hidden {
    display: none;
}

.empty {
}

.left {
    float:left;
}

